
# env.rc
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"

sdk use java 25-graal

export CFLAGS="-std=gnu99"
export CXXFLAGS="-std=gnu++17"

export VCPKG_C_FLAGS="-std=gnu99"
export VCPKG_CXX_FLAGS="-std=gnu++17"
